# Jupyter notebook
# When using .ipynb files, remove output before submitting to git
# https://gist.github.com/33eyes/431e3d432f73371509d176d0dfb95b6e
# 1. Add a filter to git config by running the following command in bash inside the repo:  
# ```
# git config filter.strip-notebook-output.clean 'jupyter nbconvert --ClearOutputPreprocessor.enabled=True --to=notebook --stdin --stdout --log-level=ERROR'  
# ```
# 2. Create a `.gitattributes` file inside the directory with the notebooks  
#
# 3. Add the following to that file:   
# ```
# *.ipynb filter=strip-notebook-output  
# ```
# After that, commit to git as usual. The notebook output will be stripped out in git commits, but it will remain unchanged locally.  
venv/
*.ipynb
*.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# all pickle files
*.pkl

# all results
results/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/
!/data/external/.gitkeep
!/data/interim/.gitkeep
!/data/processed/.gitkeep
!/data/raw/.gitkeep

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/